@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2> @*class="display-4">*@Basketball Player Entry Form</h2>
    <p>This is the Basketball Player Entry Form developed for Seikosoft as an interview project.</p>
    <ul>
        <li>
            Each of the above links provides a respective list along with the ablility to create, update, and delete fields.
        </li>
        <li>
            The Players link provides a list of all players currently in the database.
        </li>
        <li>
            The Teams link provides a list of all basketball teams currently in the database.
        </li>
        <li>
            The Player's Teams link provides a list of all players as well as their previous and current teams on which they played. There
                is also a seach parameter allowing you to refine a search based on a given team.
        </li>
    </ul>
</div>
